
body {
  font-family: 'Roboto Slab', serif;
  --alternate-color: #f4f4ff;
  --border-color: rgb(192, 192, 192);
}

a {
  color: blue;
}
a:hover {
  color: red;
}

header {
  margin: 12px;
}
header aside {
  opacity: 0.5;
}

details {
  margin: 12px;
  background: #eee;
  border-radius: 4px;
  padding: 8px ;
}
details summary {
  display: flex;
  align-items: center;
  cursor: pointer;
}
details pre {
  background: #f8f8f8;
  padding: 6px;
  margin: 8px 0;
  border-radius: 2px;
}
details pre aside {
  display: inline;
  position: relative;
}

details pre aside::after {
  content: 'â† ' attr(data-aside) ' ';
  background: black;
  color: white;
  display: inline;
  font-style: italic;
  background: rgba(0, 0, 0, 0.5);
}

code {
  font-family: 'Roboto Mono', monospace;
}

* {
  margin: 0;
}

figure.cheatsheet {
  position: relative;
  display: grid;
  grid-template-columns: 160px 0 1fr;
  margin-top: 90px;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--border-color);
}
figure.cheatsheet.wide {
  grid-template-columns: 240px 0 1fr;
}
figure.cheatsheet figcaption {
  top: -60px;
  height: 60px;
  line-height: 42px;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 2em;
  font-style: bold;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid var(--border-color);
  padding: 0 0.5ch;
}
figure.cheatsheet > code {
  grid-column: 1;
}
figure.cheatsheet > article {
  grid-column: 3;
}
figure.cheatsheet::after {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 100;
  position: relative;
  z-index: 100;
  border-left: 2px dashed var(--border-color);
  content: '';
}

pre {
  font: inherit;
}
figure.cheatsheet > code {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px 0;
}
figure.cheatsheet > code.small {
  font-size: 0.75em;
}
figure.cheatsheet > code::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: opacity 0.125s;
}
figure.cheatsheet > code:not(:hover)::after {
  opacity: 0;
}
figure.cheatsheet > code:nth-of-type(even) {
  background: var(--alternate-color);
}
span.title {
  opacity: 0.5;
}

figure.cheatsheet > article {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}
figure.cheatsheet > article:nth-of-type(even) {
  background: var(--alternate-color);
}
